{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1>Налаштування</h1>
</div>

<div class="grid-2">
  <a class="card card-link" href="{{ url_for('settings.brands') }}">Бренди</a>
  <a class="card card-link" href="{{ url_for('settings.geos') }}">GEO</a>
  <a class="card card-link" href="{{ url_for('settings.geo_locations') }}">GEO Locations</a>
  <a class="card card-link" href="{{ url_for('settings.department_types') }}">Типи відділів</a>
  <a class="card card-link" href="{{ url_for('settings.tags') }}">Теги</a>
  <a class="card card-link" href="{{ url_for('settings.admin_users') }}">Користувачі адмінки</a>
</div>
{% endblock %}